<div class="container">
  <div id="header">
    <div class="ui" id="mainHead">Eat Up Groups</div>
  </div>

  <div class="ui cards">
    <div class="card">
      <div class="image">
          <%= image_tag "maps/map_kearny.png", {height: 200} %>
      </div>
      <div class="content">
        <div class="header">SFHTML5</div>
        <div class="meta">
          <a class="group">Technology</a>
        </div>
        <div class="description">
          Talk like a pirate
        </div>
      </div>
      <div class="extra content">
        <a class="right floated created">
          Created in 2011
        </a>
        <a class="friends">
          <i class="user icon"></i>
          400 Members
        </a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <%= image_tag "maps/map_kearny.png", {height: 200} %>
      </div>
      <div class="content">
        <div class="header">WWC Algorithms</div>
        <div class="meta">
          <a class="group">Technology</a>
        </div>
        <div class="description">
          Interview prep
        </div>
      </div>
      <div class="extra content">
        <a class="right floated created">
          Created in 2013
        </a>
        <a class="friends">
          <i class="user icon"></i>
          220 Members
        </a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <%= image_tag "maps/map_kearny.png", {height: 200} %>
      </div>
      <div class="content">
        <div class="header">SF Meteor</div>
        <div class="meta">
          <a class="group">Technology</a>
        </div>
        <div class="description">
          All Javascript
        </div>
      </div>
      <div class="extra content">
        <a class="right floated created">
          Joined in 2012
        </a>
        <a class="friends">
          <i class="user icon"></i>
          22 Members
        </a>
      </div>
    </div>
    
  </div>
</div>