<div class="ui cards" data-ng-controller="GroupsCtrl" data-ng-model="groups">
  <div class="card" ng-repeat="group in groups">
    <div class="image">
        <%= image_tag "maps/map_kearny.png", {height: 200} %>
    </div>
    <div class="content">
      <div class="header">{{group.groupName}}</div>
      <div class="meta">
        <a class="group">{{group.Type}}</a>
      </div>
      <div class="description">
        {{group.eventName}}
      </div>
    </div>
    <div class="extra content">
      <a class="right floated created">
        Created in {{groupCreated}}
      </a>
      <a class="friends">
        <i class="user icon"></i>
        {{group.memberCount}} Members
      </a>
    </div>
  </div>
</div>